section.info-section {
    margin-bottom: 30px;
}

.grid-cell {
    border: 1px dashed lightgray;
}

.grid-cell-content {
    display: flex;
    align-items: center;
    justify-content: normal;

    width: 100%;
    height: 200px;
    background: #f4f4f4;
}

[class*="col-sm"] {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background-color: #bbeffd;
    border: 1px solid #61dafb
}

[class*="col-xs"] {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background-color: #bbeffd;
    border: 1px solid #61dafb
}

[class*="col-lg"] {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background-color: #bbeffd;
    border: 1px solid #61dafb
}

[class*="col-md"] {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background-color: #bbeffd;
    border: 1px solid #61dafb
}

.vstack >div, .hstack >div {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background-color: #bbeffd !important;
    border: 1px solid #61dafb !important;
}

.fade {
    opacity: unset;

}

.list-group-item, .list-group-item:first-child, .list-group-item:last-child {
    border: 1px solid rgb(0, 0, 0, 13%) !important;
}

.card {
    width: 22rem;
}

.card-img-overlay {
    color: #fff !important;
}

.fade {
    opacity: unset;
}
